name: Build EXE on Windows

on:
  push:
    branches: [ "main" ] # Hoặc tên branch chính của bạn

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' # Thay bằng version bạn dùng

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller

    - name: Build EXE
      run: pyinstaller --onefile main.py  # Thay main.py bằng file chính của bạn

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: MyExecutable
        path: dist/*.exe
